<main class="flex flex-column justify-content-center align-items-center py-8"
    [ngStyle]="{'min-height': '105vh'}"
>

    <div class="m:w-12 md:w-10 xl:w-6 flex flex-column justify-content-center align-items-center">
        <div class="w-full px-4 mb-6 text-start">
            <!-- <h1 class="text-6xl">
                Web Technologies & Experience
            </h1> -->

            <div [ngStyle]="{'margin-top': '15rem', 'margin-bottom': '4rem'}"
            pAnimateOnScroll
            enterClass="fadeindown"
            leaveClass="fadeout"
            class="animation-duration-500 text-7xl font-bold"
            >
                Technologies & Experience
            </div>

            <span class="text-base font-light line-height-3">
                <p
                pAnimateOnScroll
                enterClass="fadeinleft"
                leaveClass="fadeoutright"
                class="animation-duration-500"
                >
                    My professional experience is with front-end web development and the Angular framework. However, I always reach into the adjacent and semi-unknown to expand my knowledge base.
                </p>
                <p
                pAnimateOnScroll
                enterClass="fadeinright"
                leaveClass="fadeoutleft"
                class="animation-duration-500"
                
                >
                    To supplement my professional front-end work, I do full-stack projects in my free-time primarily with Node, NestJs and the technologies listed below. As a self-taught web developer, previous accountant and now inactive CPA, I am always in a state of growth, and exited to learn and understand at a deeper level.
                </p>
            </span>
        </div>

    
        <!-- section needs wrapper div to restrict width as flex box grows and then wraps but dom maintains width from expansion -->
        <section 
            class="w-11 flex flex-row flex-wrap justify-content-center align-items-center bg-gray-100 py-3 px-2 border-round-lg animation-duration-500"
            pAnimateOnScroll
            enterClass="fadeindown"
            leaveClass="fadeout"
        >   
            <div *ngFor="let item of [0]; let index = index "
                appObserveElement
                #intersection="intersection"
                (isIntersecting)="isIntersecting($event, 'skills', index)"
                [isContinuous]="true" 
            >
            </div>
            <!-- <div 
                class="skill m-1 w-5rem h-6rem flex flex-column flex-nowrap justify-content-end align-items-center"
                *ngFor="let item of tech; let index = index" 
                [ngClass]="sectionInView ? item.enterAnimClass : item.startPosClass "
                [ngStyle]=" { 'opacity': sectionInView ? '1' : '0' }"
            > -->
            <!-- Wackadoo custom animation on scroll removed for basic primeng animation on scroll -->
            <div 
                *ngFor="let item of tech; let index = index" 
                pAnimateOnScroll
                enterClass="fadein"
                leaveClass="fadeout"
                class="skill cursor-pointer flex flex-column flex-nowrap justify-content-end align-items-center animation-duration-1000"
                [ngStyle]="{'margin': '0.5rem 1rem'}"
            >
                <div
                    [ngStyle]="{'width': '2.4rem'}"
                >
                    <img 
                        class="h-full w-full" 
                        [style]="{'filter' : 'brightness(1.2)'}"
                        [src]="item.imgUrl"
                    >
                </div>
                <div class="mb-2 mt-1 text-sm text-600 font-base">
                    {{ item.name }}
                </div>
            </div>
        </section>
    </div>
</main>


