
<main class="w-screen flex flex-row flex-wrap bg-blue-900 p-6"
    [ngStyle]="{'min-height': '105vh'}"
>



    <p-button (click)="visibleProjectsSidebar = true" icon="pi pi-external-link" label="Show"></p-button>

</main>
<!-- [ngStyle]="getInlineStyle(project.img)" -->
    <p-sidebar [visible]="visibleProjectsSidebar" [fullScreen]="true" [baseZIndex]="10000" (onHide)="projectsSidebarClose()" [showCloseIcon]="true">
    <p class="m-0">
        A listing of all previous projects sorted new to old, a peek into my journey and progression as a developer.
    </p>

    <div class="flex flex-row flex-wrap">
        <ng-container *ngFor="let project of projects" >
            <p-card [style]="{width: '260px'}" styleClass="p-card-shadow" class="m-1">
                <div>
                    {{ project.title }} 
                </div>
                <div  class="card-image" [style.backgroundImage]="'url(' + project.img + ')'"
                >
                    <!-- <img alt="Card" class="card-image" > -->
                </div>
                <div>
                    {{ project.timeLine }}
                </div>
                <div>
                    {{ project.tech }}
                </div>
                <div>
                    {{ project.oneLine }}
                </div>
            </p-card>
        </ng-container>
    </div>




