<main
    class="relative mt-8"
    [ngStyle]="{'min-height': '105vh'}"
>
    
    <div class="left-text-position w-10 font-bold intro-text-size">
        <div>Hello,I'm <span class="intro-gradient-1">Dan Bennett</span></div>
        <!-- <div>And i do</div> -->
        <div class="flex flex-row">
            <div>I build web applications

            </div>
            <div class="blink-hard text-7xl font-bold"
            [ngStyle]="{'transform': 'translate(1rem, 0.25rem)'}"
            >
                <div class="h-5rem w-2rem bg-white">

                </div>
            </div>

        </div>
        <!-- &block;         -->

    </div>
    <div class="right-threejs-position h-25rem w-22rem bg-red-800">
         <app-render-two></app-render-two>
    </div>

   
</main>
