<main
    class="relative mt-8 w-screen"
    [ngStyle]="{'min-height': '105vh'}"
>
    
    <div class="left-text-position w-10 font-bold intro-text-size">
        <div>Hi, I'm <span class="intro-gradient-1">Dan</span>.</div>
        <div>And i do</div>
        <div><span class="intro-gradient-2">web development</span><span class="blink-hard text-4xl">&block;</span></div>
        

    </div>
    <div class="right-threejs-position h-25rem w-22rem bg-red-800">
         <app-render-two></app-render-two>
    </div>

   
</main>
