<nav class="px-3 py-4 bg-bluegray-900 cursor-pointer flex flex-row justify-content-between align-items-center">
    <div class="text-3xl font-bold gradient-logo-text" (click)="navigateHome()">
       danbennett
    </div>
    <div class="text-right text-lg">
        <ul>
            <li>Portfolio</li>
            <li>Skills</li>
            <li>About</li>
            <li>Contact</li>
            <!-- <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
            <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li> -->
        </ul>
    </div>

</nav>