<nav class="fixed top-0 w-screen px-3 py-4 cursor-pointer flex flex-row justify-content-between align-items-center">
    <div class="text-xl font-bold gradient-logo-text" (click)="onClickScroll('scroll-to-nav')">
       {{ leftCurlies }} danBennett {{ rightCurlies }}
    </div>
    <div class="text-right text-lg">
        <ul>
            <li (click)="onClickScroll('scroll-to-projects')">Projects</li>
            <li (click)="onClickScroll('scroll-to-skills')">Skills</li>
            <li (click)="onClickScroll('scroll-to-contact')">Contact</li>
        </ul>
    </div>

</nav>