

// Universal
$global-light-gray: #f2f2f2;
// $global-sticky-nav-bg: #ffffffb3;

// Apple Books
// $global-white: #fafafa;
// $global-text: #333;
// $global-sticky-nav-bg: #fafafab3;

// Apple Vision
$global-white: #fafafc;
$global-text: #1d1d1f;
$global-sticky-nav-bg: #fafafcb3;
$theme-color-1: #fffdc3;
$theme-color-2: #eba61b5c;
$theme-color-3: #eb5d1b5c;

$alt-grad-1: #8991fb38;
$alt-grad-2: #ed0d8441;