<main class="w-screen flex flex-column justify-content-center align-items-center">
    <div class="w-6">
        <h1 class="text-6xl">
            Web Technologies & Experience
        </h1>
        <p class="text-xl`">
            My area of specializiation is front end web development with the Angular Framework.
        </p>
        <p>
            I also have experience with web applications and full-stack projects primarily with Node, NestJs and the technologies listed below. As a self-taught web developer, previous accountant and now inactive CPA, I am always in a state of growth, learning higher level tech, or diving deeper into lower level concepts to continually improve on a wide spectrum.
        </p>
        <p>
            Visit my Linkedin for professional experience.
        </p>
    </div>

    
    <!-- section needs wrapper div to restrict width as flex box grows and then wraps but dom maintains width from expansion -->
    <div class="w-9 mt-6" >
        <div class="w-5rem h-5rem">
            <div [ngClass]="sectionInView ? 'ball' : '' "></div>
        </div>
        <section 
            class="w-full flex flex-row flex-wrap justify-content-center align-items-center"
            [ngStyle]="{'height': '45rem'}"

        
        >   
        <!-- bg-bluegray-700 -->
            <!-- <ng-container [ngClass]="sectionInView ? 'skill-anim' : '' "> -->
                <div 
                    class="skill m-1 w-9rem h-9rem flex flex-column flex-nowrap justify-content-end align-items-center"
                    *ngFor="let item of tech; let index = index" 
                    [ngClass]="sectionInView ? item.enterAnimClass : 'hide-tech' "
                    [ngStyle]=" { 'opacity': sectionInView ? '1' : '0' }"
                    [ngStyle]=" {}"


                >

                    <div class="w-5rem h-5rem p-1 cursor-pointer">
                        <img 
                            class="h-full w-full" 
                            [style]="{'filter' : 'brightness(1.2)'}"
                            [src]="item.imgUrl"
                        >
                    </div>
                    <div class="mb-2 mt-1 text-base text-white font-light">
                    {{ item.name }}
                    </div>
                </div>

            <!-- </ng-container> -->

        </section>
        <div *ngFor="let item of [0]; let index = index "
        appObserveElement
        #intersection="intersection"
        (isIntersecting)="isIntersecting($event, 'skills', index)"
        [isContinuous]="true"
        
        
        
        >


        </div>
    </div>
</main>


