<main class="w-full flex flex-column justify-content-center align-items-center border-3 border-solid border-red-400"

>
  <app-nav 
    class="w-full" 
    id="scroll-to-nav"
  ></app-nav>

  <app-intro
    class="w-full" 
  ></app-intro>

  <app-projects 
    class="w-full" 
    id="scroll-to-projects"
  ></app-projects>

  <app-skills
    class="w-full" 
    id="scroll-to-skills"
  ></app-skills>

  <app-contact
    class="w-full" 
    id="scroll-to-contact"
  ></app-contact>


  <app-footer class="w-full" ></app-footer>
  
</main>