@use '../styles/variables' as vars;

:host {
    background-color: vars.$global-white;
    color: vars.$global-text;
    font-family: 'Roboto', sans-serif;
}

.splash {
    height: 300vh;
    background: vars.$global-light-gray;
}

.app-bg {
    background-image: url('../assets/img/bg/4th-attempt-alex-grey.png');
    background-repeat: no-repeat;
    // background-position: center center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    // opacity: 0.75;
}

.bg {
    background: linear-gradient(155deg, rgb(255, 45, 154), rgb(0, 0, 207));
    // background-color: rgb(51, 51, 51);
    border-radius: 1rem;
}

.up-in {
    animation: up-anim 600ms linear;
}

@keyframes up-anim {
    0% { 
        transform: translateY(4rem); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0rem); 
        opacity: 1;
    }
  }


  .highlight-active {
    background-color: yellow;
  }

  .highlight-inactive {
    background-color: rgb(255, 255, 204);
  }

  .salmon {
    background-color: salmon;
    animation: fade-in 800ms linear;
  }

  .seagreen {
    background-color: seagreen;
    animation: fade-in 800ms linear;
  }

  .cornflower {
    background-color: cornflowerblue;
    animation: fade-in 800ms linear;
  }

  @keyframes fade-in {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }


  .top-left-border {
    // background-color: red;
    height: 7.75rem;
    width: 16rem;
    border-top: 0.5rem solid #eba61b5c;
    border-left: 0.5rem solid #eba61b5c;
    transform: translate(-2.5rem, -1.5rem);
  }

  .name-gradient {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    background: linear-gradient(65deg ,#fffdc3, #ed0d849b);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-clip {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    // background: url('../assets/img/misc/jr-korpa-9XngoIpxcEo-unsplash.jpg');
    // background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .intro-line-1 {
    background-color: rgba(235, 27, 138, 0.362);
    background-color: rgb(255, 255, 156);
    background-color: rgba(145, 235, 27, 0.362);
    background-color: rgba(235, 93, 27, 0.362);

    background: #fffdc3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: intro-line-1-anim 9s linear;
  }

  .intro-line-2 {
    background-color: #eba61b5c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: intro-line-2-anim 9s linear;
  }

  .intro-line-3 {
    background-color: rgba(235, 27, 138, 0.362);
    background-color: #eb5d1b5c;
    animation: intro-line-3-anim 9s linear;
  }

  .intro-line-4 {
    animation: intro-line-4-anim 9s ease-in;
  }


  @keyframes intro-line-1-anim {
    0% { 
      background: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        opacity: 0;
    }
    11% { 
      opacity: 0;
    }
    12% { 
      opacity: 1;
    }
    21% { 
      background: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    22% { 
      background: rgba(255, 253, 195, 0);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    26% { 
      background: rgba(255, 253, 195, 0.5);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    33% { 
      background: rgb(255, 253, 195);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    100% { 
      background: rgb(255, 253, 195);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
  }


  @keyframes intro-line-2-anim {
    0% { 
      background: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        opacity: 0;
    }
    32% { 
      opacity: 0;
    }
    33% { 
      opacity: 1;
    }
    42% { 
      background: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    43% { 
      background:#eba61b1b;
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    47% { 
      background: #eba61b32;
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    54% { 
      background: rgba(255, 253, 195, 0.647);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    100% { 
      background: #eba61b5c;
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
  }

  @keyframes intro-line-3-anim {
    0% { 
      background: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        opacity: 0;
    }
    54% { 
      opacity: 0;
    }
    55% { 
      opacity: 1;
    }
    64% { 
      background: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    65% { 
      background: rgba(255, 253, 195, 0);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    69% { 
      background: #eb5d1b17;
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    76% { 
      background: #eb5d1b38;
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    100% { 
      background: #eb5d1b5c;
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
  }

  @keyframes intro-line-4-anim {
    0% { 
      opacity: 0;
    }
    80% { 
      opacity: 0;
    }
    85% { 
      opacity: 1;
    }
    100% { 
      opacity: 1;
    }
  }
  