<main class="flex flex-column justify-content-center align-items-center"
[ngStyle]="{'width': '99vw'}"
>
  <app-nav class="w-full" id="scroll-to-nav"></app-nav>

  <app-intro
    [ngStyle]="{'width': '99vw', 'overflowX': 'hidden'}"
  ></app-intro>

  <app-projects id="scroll-to-projects"
    [ngStyle]="{'width': '99vw', 'overflowX': 'hidden'}"
  ></app-projects>

  <app-skills id="scroll-to-skills"
    [ngStyle]="{'width': '99vw', 'overflowX': 'hidden'}"
  ></app-skills>

  <app-contact id="scroll-to-contact"></app-contact>

  <app-footer></app-footer>
  
</main>
