<navigation [isMobileView]="isMobileView" [yScrollPosition]="yScrollPosition"></navigation>
<main class="w-full flex flex-column flex-nowrap justify-content-start align-items-center">


  <div class="mx-4"
  [ngStyle]="{'padding-top':'10rem'}"
  >

  <div class="relative text-8xl flex flex-wrap flex-column justify-content-start align-items-start">
    <div class="absolute "
    [ngClass]="isMobileView ? '' : 'top-left-border' "
    >
    </div>
    <div class="font-light">Hello,</div>
    <div class="font-light">I am <span class="font-bold name-gradient">Dan Bennett</span></div>
    <div class="w-full flex flex-nowrap flex-row justify-content-end align-items-start"
      [ngClass]="isMobileView ? 'text-5xl' : 'text-7xl' "
    >
      <div>a : </div>
      <div class="font-bold ml-5 flex flex-nowrap flex-column justify-content-around align-items-start">
        <div class="text-clip intro-line-1">Full Stack</div>
        <!-- <div>Tenacious []</div> -->
        <div class="text-clip intro-line-2">Self-taught</div>
        <div class="text-clip intro-line-3">Web Developer</div>
        <div class="font-light mr-4 mt-2 text-100 intro-line-4"
          [ngStyle]="{'max-width': '18rem', 'font-size': '0.75rem'}"  
        >
          * With way too much college to go back and pay for more when knowledge is freely available
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="mx-4"
  [ngStyle]="{'padding-top':'10rem'}"
  >
  my Story
  * and the why and how of me getting into web development

  I have always been obsessed with personal finance. Going to school, my obvious path to satisfy this obsession I focused on Economics, Business and eventually went back to school for a third time to fulfill the requirements to become a CPA. Deep down there was a lingering hope that this could lead me to deeper analysis of data, to learn how to code, to learn how complex systems function and rely on one another. 
  wanted to get my hands dirty in the detail

  </div> -->



  </div>
  <!-- <div class=""> -->

    <div class="text-center"
    [ngStyle]="{'padding-top':'80rem'}"
    >
      <img src="../assets/img/misc/jr-korpa-9XngoIpxcEo-unsplash.jpg" alt=""
      [ngStyle]="{'width': heroWidth, 'border-radius': heroRadius, 'filter': heroGrayscale }"
    
      appObserveElement
      #intersection="intersection"
      (isIntersecting)="isIntersecting($event, 'hero-img')"
      [isContinuous]="true" 
      >
  
      <!-- <img src="../assets/img/projects/featured/cashamole-featured.png" alt=""
      [ngStyle]="{'width': heroWidth, 'border-radius': heroRadius, 'filter': heroGrayscale }"
    
      appObserveElement
      #intersection="intersection"
      (isIntersecting)="isIntersecting($event, 'hero-img')"
      [isContinuous]="true" 
      > -->
    </div>



    <div class="w-full splash pt-8 flex flex-column flex-nowrap justify-content-start align-items-center">
      <section class="w-9 flex flex-column flex-nowrap justify-content-center align-items-end">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, alias, ea, voluptates reiciendis dolore iste magnam nemo mollitia quibusdam excepturi eos amet facere sit nisi tempore. Perspiciatis adipisci tempore dolorum molestias nesciunt possimus quidem quas! Provident quas, perspiciatis, a aliquid cupiditate deleniti sapiente animi beatae natus debitis reiciendis qui libero.
        </div>
      </section>

      <div class="w-8 bg-red-200 flex flex-row flex-wrap justify-content-between align-items-start"
      [ngStyle]="{'padding-top':'20rem'}"
      >
        <div class="w-15rem h-25rem bg-green-100">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore necessitatibus eaque animi nesciunt earum molestias dignissimos 
          <span [ngClass]=" linkOne ?  'highlight-active' : 'highlight-inactive' " class="cursor-pointer" (click)="changeLinkHighlight('one')">minima</span>
          , ullam 
          <span [ngClass]=" linkTwo ?  'highlight-active' : 'highlight-inactive' " class="cursor-pointer" (click)="changeLinkHighlight('two')">veniam</span> 
          aut 
          <span [ngClass]=" linkThree ?  'highlight-active' : 'highlight-inactive' " class="cursor-pointer" (click)="changeLinkHighlight('three')">architecto</span> 
          ipsum totam rerum enim consequatur quisquam, hic tenetur. Odio aperiam suscipit mollitia ex hic doloribus voluptates molestiae excepturi id atque placeat, deleniti blanditiis ipsam ad! Eum nisi at nulla!
        </div>
        <div *ngIf="linkOne" class="w-15rem h-25rem salmon">
          LINK ONE
        </div>
        <div *ngIf="linkTwo" class="w-15rem h-25rem seagreen">
          LINK ONE
        </div>
        <div *ngIf="linkThree" class="w-15rem h-25rem cornflower">
          LINK ONE
        </div>
    </div>

      <div class="w-full flex flex-row flex-wrap justify-content-center align-items-start"
      [ngStyle]="{'padding-top':'60rem'}"
      >
        <ng-container *ngFor="let item of ['ad', 'bd', 'cd', 'dd', 'de', 'df']; let index">
          <div class="text-center w-15rem border-radius-3 h-15rem bg m-5"
            appObserveElement
            #intersection="intersection"
            (isIntersecting)="isIntersecting($event, 'array-item', item)"
            [isContinuous]="true" 
            [ngClass]="arrayItems[item] ? 'up-in' : 'opacity-0' "
          >
            {{ index }}
          </div>

        </ng-container>
    </div>


  </div>




  <app-skills></app-skills>




  <!-- </div> -->
  <!-- <div class="app-bg">
  </div> -->


</main>



