<navigation [isMobileView]="isMobileView" [yScrollPosition]="yScrollPosition"></navigation>
<main class="w-full flex flex-column flex-nowrap justify-content-start align-items-center">
  <!-- <div class=""> -->
    <div class="w-full splash pt-8 flex flex-column flex-nowrap justify-content-start align-items-center">
      <section class="w-9 flex flex-column flex-nowrap justify-content-center align-items-end">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, alias, ea, voluptates reiciendis dolore iste magnam nemo mollitia quibusdam excepturi eos amet facere sit nisi tempore. Perspiciatis adipisci tempore dolorum molestias nesciunt possimus quidem quas! Provident quas, perspiciatis, a aliquid cupiditate deleniti sapiente animi beatae natus debitis reiciendis qui libero.
        </div>
      </section>

      <div class="w-8 bg-red-200 flex flex-row flex-wrap justify-content-between align-items-start"
      [ngStyle]="{'padding-top':'20rem'}"
      >
        <div class="w-15rem h-25rem bg-green-100">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore necessitatibus eaque animi nesciunt earum molestias dignissimos 
          <span [ngClass]=" linkOne ?  'highlight-active' : 'highlight-inactive' " class="cursor-pointer" (click)="changeLinkHighlight('one')">minima</span>
          , ullam 
          <span [ngClass]=" linkTwo ?  'highlight-active' : 'highlight-inactive' " class="cursor-pointer" (click)="changeLinkHighlight('two')">veniam</span> 
          aut 
          <span [ngClass]=" linkThree ?  'highlight-active' : 'highlight-inactive' " class="cursor-pointer" (click)="changeLinkHighlight('three')">architecto</span> 
          ipsum totam rerum enim consequatur quisquam, hic tenetur. Odio aperiam suscipit mollitia ex hic doloribus voluptates molestiae excepturi id atque placeat, deleniti blanditiis ipsam ad! Eum nisi at nulla!
        </div>
        <div *ngIf="linkOne" class="w-15rem h-25rem salmon">
          LINK ONE
        </div>
        <div *ngIf="linkTwo" class="w-15rem h-25rem seagreen">
          LINK ONE
        </div>
        <div *ngIf="linkThree" class="w-15rem h-25rem cornflower">
          LINK ONE
        </div>
    </div>

      <div class="w-full flex flex-row flex-wrap justify-content-center align-items-start"
      [ngStyle]="{'padding-top':'60rem'}"
      >
        <ng-container *ngFor="let item of ['ad', 'bd', 'cd', 'dd', 'de', 'df']; let index">
          <div class="text-center w-15rem border-radius-3 h-15rem bg m-5"
            appObserveElement
            #intersection="intersection"
            (isIntersecting)="isIntersecting($event, 'array-item', item)"
            [isContinuous]="true" 
            [ngClass]="arrayItems[item] ? 'up-in' : 'opacity-0' "
          >
            {{ index }}
          </div>

        </ng-container>
    </div>

      <div class="text-center"
      [ngStyle]="{'padding-top':'50rem'}"
      >
      <img src="../assets/img/misc/jr-korpa-9XngoIpxcEo-unsplash.jpg" alt=""
      [ngStyle]="{'width': heroWidth, 'border-radius': heroRadius, 'filter': heroGrayscale }"
    
      appObserveElement
      #intersection="intersection"
      (isIntersecting)="isIntersecting($event, 'hero-img')"
      [isContinuous]="true" 
      >
    </div>
  </div>


  <app-skills></app-skills>




  <!-- </div> -->
  <!-- <div class="app-bg">
  </div> -->


</main>



