@use '../../../styles/variables' as vars;

.top-left-border {
    // background-color: red;
    height: 7.75rem;
    width: 16rem;
    // border-top: 0.5rem solid #eba61b5c;
    // border-left: 0.5rem solid #eba61b5c;
    border-top: 0.25rem solid rgba(75, 155, 147, 0.315);
    border-left: 0.25rem solid rgba(75, 155, 147, 0.315);
    transform: translate(-2.5rem, -1.5rem);
  }

  .bottom-right-gradient {
    height: 20rem;
    width: 20rem;
    bottom: 0;
    right: 0;
    // background: linear-gradient(135deg, white, white, white, white,  #ed0d8414,rgba(197, 197, 197, 0.15));
    background: linear-gradient(135deg, white, white, white, white,  #4c4d8d1f, rgba(88, 161, 169, 0.352));
    animation: bottom-right-anim 6s linear;
    z-index: -1;
  }

  .name-gradient {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.873);
    // background: linear-gradient(65deg ,#fffdc3, #ed0d849b);
    // background: linear-gradient(65deg ,#c33763b2, #1d2571b2);
    // background: linear-gradient(65deg ,#360033, #0b8793);
    // background: linear-gradient(65deg ,#5C258D, #4389A2);
    // background: linear-gradient(65deg ,#F97794, #623AA2);
    // background: linear-gradient(65deg ,#ff006f, #333399);
    // background: linear-gradient(65deg ,#0250c5, #d43f8d);
    // background: linear-gradient(65deg ,#616161, #9bc5c3);
    // background: linear-gradient(65deg ,#243949, #517fa4);
    // background: linear-gradient(65deg ,#b5b5b51f, rgba(48, 111, 105, 0.342));
    // background: linear-gradient(65deg ,#4b6eb5b4, rgba(0, 93, 122, 0.647));
    background: url('../../../assets/img/misc/pexels-steve-johnson-1509534.jpg');
    background-size: cover;
    filter: brightness(160%) hue-rotate(30deg) contrast(50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-clip {
    // -webkit-text-stroke-width: 0.2px;
    // -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.0px;
    // -webkit-text-stroke-color: rgba(0, 0, 0, 0.873);
    // background: url('../../../assets/img/misc/pexels-steve-johnson-1509534.jpg');
    // background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .intro-line-1 {
    // background-color: rgba(235, 27, 138, 0.362);
    // background-color: rgb(255, 255, 156);
    // background-color: rgba(145, 235, 27, 0.362);
    // background-color: rgba(235, 93, 27, 0.362);

    // background: vars.$theme-color-1;
    // background: #b5b5b51f;
    // background: rgba(0, 0, 0, 0.6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: intro-line-1-anim 6s linear;
  }

  .intro-line-2 {
    // background: vars.$theme-color-2;
    // background: #b5b5b559;
    // background: rgba(0, 0, 0, 0.6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: intro-line-2-anim 6s linear;
  }

  .intro-line-3 {
    // background-color: rgba(235, 27, 138, 0.362);
    // background: vars.$theme-color-3;
    // background: #b5b5b5a4;
    background: rgba(0, 0, 0, 0.6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: intro-line-3-anim 6s linear;
  }

  .intro-line-4 {
    animation: intro-line-4-anim 9s ease-in;
  }


  @keyframes intro-line-1-anim {
    0% { 
      background: transparent;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 0;
      transform: translate(5rem, 0rem);
    }
    11% { 
      opacity: 0;
    }
    12% { 
      opacity: 1;
      transform: translate(5rem, 0rem);
    }
    21% { 
      // background: transparent;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
      transform: translate(0rem, 0rem);
    }
    22% { 
      // background: rgba(255, 253, 195, 0);
      // background: rgba(0, 0, 0, 0);
      // background-size: 50%;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    26% { 
      // background: rgba(255, 253, 195, 0.5);
      // background: rgba(0, 0, 0, 0.3);
      // background-size: 50%;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    33% { 
      // background: rgb(255, 253, 195);
      // background: rgba(0, 0, 0, 0.6);
      // background-size: 50%;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    100% { 
      // background: rgb(255, 253, 195);
      // background: rgba(0, 0, 0, 0.6);
      // background-size: 50%;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
      transform: translate(0rem, 0rem);
    }
  }


  @keyframes intro-line-2-anim {
    0% { 
      // background: transparent;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 0;
      transform: translate(5rem, 0rem);
    }
    32% { 
      opacity: 0;
    }
    33% { 
      opacity: 1;
      transform: translate(5rem, 0rem);
    }
    42% { 
      // background: transparent;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
      transform: translate(0rem, 0rem);
    }
    43% { 
      // background:#eba61b1b;
      // background: rgba(0, 0, 0, 0);
      // background-size: 50%;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    47% { 
      // background: #eba61b32;
      // background: rgba(0, 0, 0, 0.3);
      // background-size: 50%;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    54% { 
      // background: rgba(255, 253, 195, 0.647);
      // background: rgba(0, 0, 0, 0.6);
      // background-size: 50%;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    100% { 
      // background: #eba61b5c;
      // background: rgba(0, 0, 0, 0.6);
      // background-size: 50%;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      opacity: 1;
      transform: translate(0rem, 0rem);
    }
  }

  @keyframes intro-line-3-anim {
    0% { 
      background: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      transform: translate(5rem, 0rem);
    }
    54% { 
      opacity: 0;
    }
    55% { 
      opacity: 1;
      transform: translate(5rem, 0rem);
    }
    64% { 
      background: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
      transform: translate(0rem, 0rem);
    }
    65% { 
      // background: rgba(255, 253, 195, 0);
      background: rgba(0, 0, 0, 0);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    69% { 
      // background: #eb5d1b17;
      background: rgba(0, 0, 0, 0.3);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    76% { 
      // background: #eb5d1b38;
      background: rgba(0, 0, 0, 0.6);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    100% { 
      // background: #eb5d1b5c;
      background: rgba(0, 0, 0, 0.6);
      background-size: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
      transform: translate(0rem, 0rem);
    }
  }

  @keyframes intro-line-4-anim {
    0% { 
      opacity: 0;
    }
    80% { 
      opacity: 0;
    }
    85% { 
      opacity: 1;
    }
    100% { 
      opacity: 1;
    }
  }

  @keyframes bottom-right-anim {
    0% { 
      opacity: 0;
    }
    80% { 
      opacity: 0;
    }
    85% { 
      opacity: 1;
    }
    100% { 
      opacity: 1;
    }
  }




.overflow-hidden {
  overflow: hidden;
}

.gradient-ball {
  width: 52rem;
  height: 52rem;
  max-width: 80vw;
  max-height: 80vw;
  border-radius: 55rem;
  overflow: hidden;
  // background: radial-gradient(circle, #ffffff7b 0%, #ffffff7d 10%, #ff179a45 55%, #1774ff50 80%, #fb00ff40 100% ), 
  //   linear-gradient(50deg, rgba(162, 0, 255, 0.777), rgba(9, 6, 155, 0.732));
  // background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
  background-image: linear-gradient(to top, #003585 0%, #bb136aae 100%);
  border: 0px solid #FFD1F37C;
  box-shadow: 2px 2px 5px #FFFFFF;
  font-size: 1.5rem;
  color: grey;
  position: absolute;
  z-index: 2;
  top: 15%; 
  left: -6%;
  opacity: 0.8;
  backdrop-filter: 90px;
  animation: gradient-ball-anim 40s linear infinite;
}

.gradient-ball-overlay {
  width: 54rem;
  height: 54rem;
  max-width: 82vw;
  max-height: 82vw;
  border-radius: 50rem;
  overflow: hidden;
  // background: radial-gradient(circle, #ffffff7b 0%, #ffffff7d 10%, #ff179a45 55%, #1774ff50 80%, #fb00ff40 100% ), 
  //   linear-gradient(50deg, rgba(162, 0, 255, 0.777), rgba(9, 6, 155, 0.732));
  // background: rgba(255, 0, 0, 0.252);
  // border: 0px solid #FFD1F37C;
  // box-shadow: 2px 2px 5px #FFFFFF;
  // font-size: 1.5rem;
  // color: grey;
  position: absolute;
  z-index: 3;
  top: 14%; 
  left: -7%;
  opacity: 0.8;
  backdrop-filter: blur(10px);
  // filter: hue-rotate(20deg);
  animation: gradient-ball-anim 40s linear infinite;
}


@keyframes gradient-ball-anim {
  // from { transform: rotate(360deg) translateX(1rem) rotate(-360deg); }
  // to   { transform: rotate(0deg) translateX(0.5rem) rotate(0deg); }
  0% { 
    transform: rotate(0deg) translateY(0rem); 
    filter: hue-rotate(0deg);
  }
  20% {
    transform: translate(0.08rem, 0.2rem); 
  }
  50% {
    transform: rotate(180deg);
    filter: hue-rotate(20deg);
  }
  80% {
    transform: translate(-0.01rem, -0.2rem); 
  }
  100% { 
    transform: rotate(360deg) translateY(0rem);
    filter: hue-rotate(0deg);
  
  }
}

