<main
    class="relative  mb-6 flex flex-column flex-nowrap justify-content-start align-items-center"
    [ngStyle]="{'min-height': '50rem'}"
>
    <div [ngStyle]="{'margin-top': '5rem', 'margin-bottom': '4rem'}"
        pAnimateOnScroll
        enterClass="fadeindown"
        leaveClass="fadeout"
        class="animation-duration-500 text-7xl font-bold"
    >
        Contact
    </div>


    <div class="flex flex-row flex-wrap justify-content-evenly align-items-center"
    [ngStyle]="{'min-width': '25rem', 'width': '80vw', 'max-width': '45rem'}"
    >

        <!-- Left Side -->
        <div>

            <div class="w-full mt-6"
            pAnimateOnScroll
            enterClass="fadeinleft"
            leaveClass="fadeout"
            class="animation-duration-500"
            >  
                <div class="icon-hover flex flex-row flex-nowrap justify-content-start align-items-center">
                    <div>
                        <img src="../../../assets/img/misc/email.png" alt="email contact"
                        class="mr-3"
                        [ngStyle]="{'width': '3rem', 'height': '2.5rem'}"
                        >
                    </div>
                    <div class="font-light text-lg">
                        <a href="mailto:bennett.daniel@gmail.com">bennett.daniel@gmail.com</a>
                    </div>
                </div>
            </div>
        
            <div class="w-full"
            pAnimateOnScroll
            enterClass="fadeinright"
            leaveClass="fadeout"
            class="animation-duration-500"
            >  
                <div class="icon-hover flex flex-row flex-nowrap justify-content-start align-items-center mt-4">
                    <div>
                        <img src="../../../assets/img/misc/github.png" alt="GitHub contact"
                        class="mr-3"
                        [ngStyle]="{'width': '3rem', 'height': '3rem'}"
                        >
                    </div>
                    <div class="font-light text-lg">
                        <a href="https://github.com/drbenn" target="_blank">drbenn@Github</a>
                    </div>
                </div>
            </div>
        
            <div class="w-full"
            pAnimateOnScroll
            enterClass="fadeinleft"
            leaveClass="fadeout"
            class="animation-duration-500"
            >  
                <div class="icon-hover flex flex-row flex-nowrap justify-content-start align-items-center mt-4">
                    <div>
                        <img src="../../../assets/img/misc/linkedin.png" alt="LinkedIn contact"
                        class="mr-3"
                        [ngStyle]="{'width': '3rem', 'height': '3rem'}"
                        >
                    </div>
                    <div class="font-light text-lg">
                        <a href="https://www.linkedin.com/in/bennettdanielr/" target="_blank">bennettdanielr@LinkedIn</a>
                    </div>
                </div>
            </div>

        </div>


        <!-- Right Side -->
        <div class="mt-8"
        pAnimateOnScroll
        enterClass="zoomin"
        leaveClass="fadeout"
        class="animation-duration-1000"
        >
            <app-render-two></app-render-two>
        </div>






    </div>






    


    <!-- <div class="contact-gradient">
        <h1>JABRONI</h1>
    </div> -->

    <div class="dot-mask"></div>
</main>

