<main
    class="relative font-bold text-7xl mb-6 flex flex-column flex-nowrap justify-content-center align-items-start"
    [ngStyle]="{'min-height': '105vh'}"
    >
    Contact

    <div class="w-full mt-6">  
        <div class="flex flex-row flex-nowrap justify-content-start align-items-center">
            <div>
                <img src="../../../assets/img/misc/email.png" alt="email contact"
                class="icon-hover mr-3"
                [ngStyle]="{'width': '3rem', 'height': '2.5rem'}"
                >
            </div>
            <div class="font-light text-lg">
                <a href="mailto:bennett.daniel@gmail.com">bennett.daniel@gmail.com</a>
            </div>
        </div>
    </div>

    <div class="w-full mt-3">  
        <div class="flex flex-row flex-nowrap justify-content-start align-items-center">
            <div>
                <img src="../../../assets/img/misc/github.png" alt="GitHub contact"
                class="icon-hover mr-3"
                [ngStyle]="{'width': '3rem', 'height': '3rem'}"
                >
            </div>
            <div class="font-light text-lg">
                <a href="https://github.com/drbenn" target="_blank">drbenn@Github</a>
            </div>
        </div>
    </div>

    <div class="w-full mt-3">  
        <div class="flex flex-row flex-nowrap justify-content-start align-items-center">
            <div>
                <img src="../../../assets/img/misc/linkedin.png" alt="LinkedIn contact"
                class="icon-hover mr-3"
                [ngStyle]="{'width': '3rem', 'height': '3rem'}"
                >
            </div>
            <div class="font-light text-lg">
                <a href="https://www.linkedin.com/in/bennettdanielr/" target="_blank">bennettdanielr@LinkedIn</a>
            </div>
        </div>
    </div>




    


    <!-- <div class="contact-gradient">
        <h1>JABRONI</h1>
    </div> -->

    <div class="dot-mask"></div>
</main>

