<nav *ngIf="!isMobileView" class="w-full pt-3 pb-7 flex flex-column justify-content-center align-items-center">
    <div class="text-xs font-base w-5" *ngIf="!isMobileView">
        <ul>
            <li class="cursor-pointer" (click)="onClickScroll('scroll-to-nav')"><i class="pi pi-code" style="font-size: 0.7rem"></i></li>
            <li class="cursor-pointer link-hover" (click)="onClickScroll('scroll-to-skills')">Tech & Exp</li>
            <li class="cursor-pointer link-hover" (click)="onClickScroll('scroll-to-projects')">Projects</li>
            <!-- <li class="cursor-pointer link-hover" (click)="onClickScroll('scroll-to-about')">About</li> -->
            <li class="cursor-pointer link-hover" (click)="onClickScroll('scroll-to-contact')">Contact</li>
        </ul>
    </div>
</nav>

<div class="flex flex-nowrap flex-row justify-content-center align-items-center py-3" 
[ngClass]="isNavSticky || isMobileView ? 'sticky-nav' : 'pre-sticky-nav' "
>
    <div class="flex flex-nowrap flex-row justify-content-between align-items-center"
        [ngClass]=" isMobileView ? 'w-10' : 'w-5'"
    >
        <div class="text-lg font-base text-800 gradient-logo-text cursor-pointer" (click)="onClickScroll('scroll-to-nav')">
            {{ leftCurlies }} 
            Dan Bennett
            {{ rightCurlies }}
        </div>
        <div *ngIf="isMobileView" class="cursor-pointer pt-2" (click)="visibleSidebar = true">
            <i class="pi pi-align-justify text-xl" ></i>
        </div>
    </div>
</div>


<p-sidebar [(visible)]="visibleSidebar" [fullScreen]="true" class="text-6xl text-semibold">
    <div class="cursor-pointer link-hover ml-4" (click)="onClickScroll('scroll-to-nav'); sidebarClose()">
        Top
    </div>
    <div class="cursor-pointer link-hover mt-4 ml-4" (click)="onClickScroll('scroll-to-skills'); sidebarClose()">
        Tech & Exp
    </div>
    <div class="cursor-pointer link-hover mt-4 ml-4" (click)="onClickScroll('scroll-to-projects'); sidebarClose()">
        Projects
    </div>
    <div class="cursor-pointer link-hover mt-4 ml-4" (click)="onClickScroll('scroll-to-contact'); sidebarClose()">
        Contact
    </div>
</p-sidebar>


<!-- <p-sidebar [(visible)]="visibleSidebar" [fullScreen]="true">
    <h3>Full Screen Sidebar</h3>
</p-sidebar>
<p-button (click)="visibleSidebar = true" icon="pi pi-th-large"></p-button> -->


<!-- <nav class="fixed top-0 z-5 w-screen px-3 py-4 flex flex-row justify-content-between align-items-center">
    <div class="text-xl font-bold gradient-logo-text cursor-pointer" (click)="onClickScroll('scroll-to-nav')">
       {{ leftCurlies }} danBennett {{ rightCurlies }}
    </div>
    <div class="text-right text-lg">
        <ul>
            <li *ngIf="!isMobileView" class="cursor-pointer" (click)="onClickScroll('scroll-to-projects')">Projects</li>
            <li *ngIf="!isMobileView" class="cursor-pointer" (click)="onClickScroll('scroll-to-skills')">Skills</li>
            <li *ngIf="!isMobileView" class="cursor-pointer" (click)="onClickScroll('scroll-to-contact')">Contact</li>
            <li *ngIf="isMobileView" class="cursor-pointer" (click)="visibleSidebar = true" ><i class="pi pi-align-justify text-xl" ></i></li>
        </ul>
    </div>

</nav>

<p-sidebar [visible]="visibleSidebar" [fullScreen]="true" [baseZIndex]="10000" (onHide)="sidebarClose()" [showCloseIcon]="true">
    <div class="cursor-pointer" (click)="onClickScroll('scroll-to-nav')">
        Top
    </div>
    <div class="cursor-pointer" (click)="onClickScroll('scroll-to-projects')">
        Projects
    </div>
    <div class="cursor-pointer" (click)="onClickScroll('scroll-to-skills')">
        Skills
    </div>
    <div class="cursor-pointer" (click)="onClickScroll('scroll-to-contact')">
        Contact
    </div>
</p-sidebar> -->