@import "primeicons/primeicons.css";
// @use '../src/styles/variables' as vars;

html, body {
    margin: auto;
    scroll-behavior: smooth;
    width: 100%;
    box-sizing: border-box;

}

// something like this should work, but doesnt
.slow-scroll {
    transition: scroll-behavior 5.5s ease;
}

// body {
//     font-family: 'Roboto', sans-serif;
// }