/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
    margin: auto;
    padding: 0rem;
    // width: 90%;
    background-color: #141416;
    color: #f0f8ff;
    font-family: 'Source Sans 3', sans-serif;
}